{% set percent_to_level = (character.currentXp / character|xp_to_level * 100)|round(2, 'floor') %}
<div class="character border rounded h-100">
  <div class="row">
    <div class="col">
      <h3 class="mb-0 bg-dark text-light">
        <p class="name mb-0 p-1 px-2">
          {% if character.inspiration %}
            <i class="fas fa-dice-d20 text-warning"
               data-toggle="tooltip"
               data-placement="bottom"
              title="Inspiration"></i>
          {% endif %}
          <a href="{{ character.readonlyUrl }}" class="text-light">{{ character.name|e }}</a></p>
      </h3>
    </div>
  </div>

  <div class="progress rounded-0">
    <div class="progress-bar" role="progressbar" style="width: {{ percent_to_level }}%;" aria-valuenow="{{ percent_to_level }}" aria-valuemin="0" aria-valuemax="100">{{ percent_to_level }}%</div>
  </div>

  <div class="row p-2">
    <div class="col col-lg-4 d-none d-lg-block">
      <img src="{{ character.avatarUrl }}" title="{{ character.name|e }}"
           class="avatar img-fluid img-thumbnail"/>
    </div>

    <div class="col">
      {% include 'sheet/components/card-ac-health.html.twig' with {'character': character} only %}
      {% include 'sheet/components/card-passive-scores.html.twig' with {'character': character} only %}
    </div>
  </div>
  <div class="p-1 row as-list">
    <div class="col">
      {% include 'sheet/components/card-ability-modifiers.html.twig' with {'character': character} only %}
    </div>
  </div>
</div>

