{% set percent_to_level = (character.currentXp / character|xp_to_level * 100)|round(2, 'floor') %}
<div class="character card h-100">
  <header class="card-header p-0">
    <h3 class="mb-0 p-2 bg-dark text-light">
      {% if character.inspiration %}
        <i class="fas fa-dice-d20 text-warning"
           data-toggle="tooltip"
           data-placement="bottom"
           title="Inspiration"></i>
      {% endif %}
      <a href="{{ character.readonlyUrl }}"
         class="text-light">{{ character.name|e }}</a>
    </h3>
    <div class="progress rounded-0">
      <div class="progress-bar"
           role="progressbar"
        {% if character.themeColor.themeColor is defined %}
          style="width: {{ percent_to_level }}%; background-color: {{ character.themeColor.themeColor }};"
        {% else %}
          style="width: {{ percent_to_level }}%;"
        {% endif %}
           aria-valuenow="{{ percent_to_level }}"
           aria-valuemin="0"
           aria-valuemax="100">{{ percent_to_level }}%
      </div>
    </div>
  </header>


  <div class="card-body">
    <div class="row">
      <div class="col-xl-4 d-none d-xl-block text-center">
        <img src="{{ character.avatarUrl }}" title="{{ character.name|e }}"
             alt="Avatar" class="avatar img-fluid img-thumbnail"/>
      </div>
      <div class="col col-xl-8">
        {% include 'sheet/components/card-ac-health.html.twig' with {'character': character} only %}
        {% include 'sheet/components/card-passive-scores.html.twig' with {'character': character} only %}
      </div>
      <div class="w-100"></div>
      <div class="col mt-2">
        {% include 'sheet/components/card-ability-modifiers.html.twig' with {'character': character} only %}
      </div>
    </div>
  </div>

  <footer class="card-footer text-muted">
    <div class="row">
      {% for class in character.classes %}
        <div class="col text-nowrap"><small>
            {% if class.subclassDefinition.name is defined %}
              {{ class.subclassDefinition.name }},
            {% endif %}
            {{ class.definition.name }} <span
              class="badge badge-info">{{ class.level }}</span></small>
        </div>
      {% endfor %}
    </div>
  </footer>

</div>

