{% set physical_caster_ids = [] %}
{% for class in character.classes %}
  {% if class.definition.name in ['Ranger', 'Sorcerer', 'Bard'] %}
    {% set physical_caster_ids = physical_caster_ids|merge([class.id]) %}
  {% endif %}
{% endfor %}
{% if character.classSpells[0].spells is not empty %}
  <div class="row">
    <div class="col mb-1">
      <button
        class="btn btn-primary" type="button" data-toggle="collapse"
        data-target="#spells-{{ character.id }}" aria-expanded="false"
        aria-controls="spells-{{ character.id }}"
      >Spells
      </button>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="spells row collapse" id="spells-{{ character.id }}">
        {% for class in character.classSpells %}
          {% for spell in class.spells %}
            {% if spell.prepared or spell.alwaysPrepared or spell.definition.level == 0 or class.characterClassId in physical_caster_ids %}
              <div class="col-12">
                    <span
                      class="badge badge-info"
                    >{{ spell.definition.level }}</span>
                <a
                  href="#"
                  data-toggle="popover"
                  data-trigger="focus"
                  data-html="true"
                  title="{{ spell.definition.name|e }}"
                  data-content="{{ spell.definition.description }}"
                >{{ spell.definition.name }}</a></div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
